black
boto3
numpy
torch
openai
pandas
parsel
Pillow
aiohttp
asyncpg
fastapi
hiredis
librosa
uvicorn
gunicorn
lyricsgenius
scikit-learn
fastapi-limiter
redis>=4.2.0rc1
python-multipart
thefuzz[speedup]
sentry-sdk[fastapi]
google-cloud-translate
git+https://github.com/proguy914629bot/ShazamIO
