uvicorn
fastapi
fastapi-limiter
boto3
numpy
torch
scikit-learn
librosa
pandas
aiohttp
python-multipart
gunicorn
parsel
lyricsgenius
redis>=4.2.0rc1
hiredis
git+https://github.com/proguy914629bot/ShazamIO